.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    0deg,
    rgba(162, 93, 148, 1) 49%,
    rgba(94, 203, 202, 1) 50%
  );
}
.logo {
  width: 130px;
}
.fixed {
  position: fixed;
  width: 1500px;
  background: #a25d94;
  z-index: 100;
}
.nav > a {
  height: 56px;
}
.desktopLink {
  text-decoration: none;
  padding: 10px 25px;
  font-size: 20px;
  color: #fff;
}
/* .desktopLink:hover {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
} */
.navInfo {
  display: flex;
  align-items: center;
  justify-content: end;
  display: none;
}
.navIcon {
  width: 30px;
}

.link {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: "";
  /* show by default */
}

.link--io {
  font-family: europa, sans-serif;
}

.link--io::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.link--io:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.link--io::after {
  content: "";
  top: calc(100% + 4px);
  transform-origin: 0% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.link--io:hover::after {
  transform-origin: 100% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}
.desktopLinkDiv {
  display: flex;
  align-items: center;
}
.langs-container img {
  margin: 5px;
  width: 25px;
  cursor: pointer;
}
.selected {
  border: 1px solid gold;
}
@media screen and (max-width: 1500px) {
  .fixed {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .navInfo {
    justify-content: center;
    background: #d571f6;
    font-size: 12px;
    padding: 5px;
  }
  .mobile-menu {
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  .mobile-menu-logo {
    border: 2px solid #00ffb8;
    margin-top: 7px;
    width: 47px;
  }
  .submenu {
    width: 200px;
    height: 250px;
    background: #00ffb8c9;
    position: absolute;
    left: 200px;
    transition: 10s;
    text-align: center;
    border: 1px solid black;
  }
  .active {
    left: 0px;
  }
  .mobileLinkDiv {
    display: flex;
    flex-direction: column;
  }
  .mobileLink {
    text-decoration: none;
    padding: 6px 0px;
    color: #fff;
  }
  .mobileLink:hover {
    background: #2b682f;
  }
  .pr_container > h1 {
    text-align: center;
  }
  .mobile-info {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .navInfo {
    font-size: 10px;
  }
}
@media screen and (max-width: 480px) {
  .navInfo {
    justify-content: start;
  }
  .navInfo p {
    display: none;
  }
  .navInfo {
    font-size: 11px;
  }
  .mobile-info {
    display: block !important;
  }
  .mobile-menu-logo {
    width: 30px;
  }
}
