.services_tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.service_tab {
  text-align: center;
  width: 30%;
  border: 2px solid #f1ffff;
  margin: 0px 15px 15px 15px;
  background: #ffffff;
  color: #545454;
  padding: 10px;
  transition: 1s;
}
.service_tab:hover {
  transform: scale(1.1);
}
.service_icon {
  width: 128px;
  margin: 10px;
}
@media screen and (max-width: 1024px) {
  .service_icon {
    width: 80px;
  }

  .service_tab {
    width: 28%;
  }
  .service_tab h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 600px) {
  .service_tab {
    width: 26%;
  }
  .service_tab p {
    font-size: 13px;
  }
  .service_tab h1 {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .service_tab {
    margin: 0px 10px 10px 10px;
    width: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service_tab p {
    display: none;
  }
}
